@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --warm-50: #fff8f0;
  --warm-100: #feecd2;
  --warm-200: #fddcb4;
  --warm-300: #fbcc96;
  --warm-400: #fabc78;
  --warm-500: #f8ac5a;
  --warm-600: #f68d20;
  --warm-700: #e67a0e;
  --warm-800: #c5670d;
  --warm-900: #a3540b;
}

body {
  color: var(--warm-900);
  background: var(--warm-100);
}